.container {
  max-width: 960px;
}



.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



/* .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #cac9c9;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 100%
}
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}

.border-top { border-top: 1px solid #c7c4c4; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* .flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
} */

/* .overflow-hidden { overflow: hidden; }


.transparent{
  opacity: 0.1;
}

.cus-al{
  align-content: left;
  text-align: left;
} */

img1 {
  width: 100px;
  height: 100px;
  
}
footer {
  background-color: rgb(202, 202, 202); 
}